<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="my-container">
  <div class="headline text-center">
    <h1>What would you like to do today?</h1>
  </div>
  <div class="intro">
    <p>Our website helps you to create unique surveys, share them with your audience, and check results!</p>
  </div>
  <div class="row text-center justify-content-md-center">
    <div class="col-lg-4">
      <div class="content">
        <a href=#><h4>Create a new survey</h4></a>
        <img src="../../assets/images/survey.png" class="img-responsive">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="content" id="orange-color">
        <a href="http://localhost:4200/#/myserveys"><h4>Review and analyse surveys</h4></a>
        <img src="../../assets/images/analytics.png" class="img-responsive">
      </div>
    </div>
  </div>
</div>