<div class="my-container">
<div class="container">
  <div class="headline">
  <h1>These surveys are all public</h1>
</div>
<div class="headline-subtext">
  <p>You can participate in any survey you'd like.</p>
  </div>
<div class="row mb-3" *ngFor='let survey of (surveys$ | async); let i = index'>
  <div class="col-sm-6 d-flex align-items-stretch">
    <div class="card">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ survey.title }}</h5>
        <p class="card-text">{{ survey.description }}</p>
        <a href="#" class="btn mt-auto w-50" (click)="onSurveyChoose(i+1)" routerLink="/fill-survey">Participate</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>