<div class="my-container">
<div class="container">
  <div class="headline">
  <h1>These surveys are all public</h1>
</div>
<div class="headline-subtext">
  <p>You can participate in any survey you'd like.</p>
  </div>
<div class="row mb-3">
  <div class="col-sm-6 d-flex align-items-stretch">
    <div class="card">
      <p class="card-header">Created by: user</p>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Survey title</h5>
        <p class="card-text">This is the survey description. Of course he's a happy little stone, cause we don't have any other kind. If you don't think every day is a good day - try missing a few. You'll see. Let's have a happy little tree in here.</p>
        <a href="#" class="btn mt-auto w-50">Participate</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 d-flex align-items-stretch">
    <div class="card">
      <p class="card-header">Created by: user</p>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Survey title</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn mt-auto w-50">Participate</a>
      </div>
    </div>
  </div>
</div>
<div class="row mb-3">
    <div class="col-sm-6 d-flex align-items-stretch">
      <div class="card">
        <p class="card-header">Created by: user</p>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Survey title</h5>
          <p class="card-text">This is the survey description. Of course he's a happy little stone, cause we don't have any other kind. If you don't think every day is a good day - try missing a few. You'll see. Let's have a happy little tree in here.</p>
          <a href="#" class="btn mt-auto w-50">Participate</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 d-flex align-items-stretch">
      <div class="card">
        <p class="card-header">Created by: user</p>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Survey title</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn mt-auto w-50">Participate</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>