<div class="my-container">
  <div class="container">
    <div class="headline">
      <h1>These surveys are all public</h1>
    </div>
    <div class="headline-subtext">
      <p>You can participate in any survey you'd like.</p>
    </div>
    <ng-container *ngFor='let survey of (surveys$ | async); let i = index'>
        <div class="card mb-3 d-flex align-items-stretch">
          <p class="card-header">Created by:</p>
          <div class="col-lg-6 card-body d-flex flex-column">
            <h5 class="card-title">{{survey.title}}</h5>
            <p class="card-text">{{survey.description}}</p>
            <button type="button" class="btn mt-auto w-50" routerLink="/fill-survey" (click)="onSurveyChoose(i+1)">Participate</button>
          </div>
        </div>
      </ng-container>
  </div>
</div>