<div class="row">
  <div class="col">
      <div class="table-responsive">
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th scope="col" class="text-center align-middle">#</th>
                      <th scope="col" class="text-center align-middle">Username</th>
                      <th scope="col" class="text-center align-middle">Email</th>
                      <th scope="col" class="text-center align-middle">Password</th>
                      <th scope="col" class="text-center align-middle">Delete</th> 
                      <th scope="col" class="text-center align-middle">Block</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let user of (users$ | async); let i = index'>
                      <th scope="row" class="text-center align-middle">{{ i + 1 }}</th>
                      <td class="text-center align-middle">{{ user.username }}</td>
                      <td class="text-center align-middle">{{ user.email }}</td>
                      <td class="text-center align-middle">{{ user.password }}</td>

                      <td class="text-center align-middle">
                            <button type="button" class="btn btn-danger" (click)="onUserDelete(user)" data-toggle="modal" data-target="#deleteUserModal">
                                    Delete
                            </button> 
                      </td>

                      <td class="text-center align-middle">
                          <button type="button" class="btn btn-secondary" (click)="onUserBlock(user)" data-toggle="modal" data-target="#blockUserModal">
                              Block 
                          </button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteUserModalLabel">Delete User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                <p>Do you want to delete <i>{{selectedUser?.username}}</i>?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onUserDeleteSubmit()">Submit</button>
        </div>
        </div>
    </div>
</div>