<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<div class="headline text-center">
    <h1>Choose survey</h1>
  </div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center align-middle">#</th>
                            <th scope="col" class="text-center align-middle">Name</th>
                            <th scope="col" class="text-center align-middle">Start</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let survey of (surveys$ | async); let i = index'>
                            <th scope="row" class="text-center align-middle">{{ i + 1 }}</th>
                            <td class="text-center align-middle">{{ survey.title }}</td>
                            <td class="text-center align-middle">
                              <button type="submit" class="btn btn-primary" (click)="onSurveyChoose(i+1)" routerLink="/fill-survey">Start</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
