.registration-form {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    background-color: #ECFAF7;
    padding-top: 50px;
    padding-bottom: 50px;
}

.form-container {
    width: 70%;
    margin: 0 auto;
}
h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
}

.btn {
    background-color: #1abc9c;
    color: white;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 900px) {
    .registration-form {
        width: 80%;
    }

    .form-container {
        width: 90%;
    }
}