<div class="headline text-center">
  <h1>{{ survey.title }}</h1>
</div>

<form (ngSubmit)="onAnswerSubmit(f)" #f="ngForm">
  <div class="form-group">
    <div class="col" *ngFor='let question of survey.questions; let i = index'>
      {{ question.title }}
      <br>
      <ng-container *ngFor='let choices of question.choices; let i = index'>
          <input type='{{question.type}}' name="choice" value="text" ngModel> 
          {{ choices.text }}
          <br>
      </ng-container>
   </div>
  </div>
  <hr>
  <div class="saveFooter">
    <button type="submit" class="btn btn-success">Submit your answer</button>
  </div>
</form>
