<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center align-middle">#</th>
                            <th scope="col" class="text-center align-middle">Title</th>
                            <th scope="col" class="text-center align-middle">Status</th>
                            <th scope="col" class="text-center align-middle">Privacy</th>
                            <th scope="col" class="text-center align-middle">Date expires</th>
                            <th scope="col" class="text-center align-middle">View results</th>
                            <th scope="col" class="text-center align-middle">Change privacy</th>
                            <th scope="col" class="text-center align-middle">Share</th>
                            <th scope="col" class="text-center align-middle">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let survey of (mySurveys$ | async); let i = index'>
                            <th scope="row" class="text-center align-middle">{{ i + 1 }}</th>
                            <td class="text-center align-middle">{{ survey.title }}</td>
                            <td class="text-center align-middle">{{ survey.surveyStatus.statusType }}</td>
                            <td class="text-center align-middle">{{ survey.surveyPrivacy.privacyType }}</td>
                            <td class="text-center align-middle">{{ survey.expirationDate | date }}</td>

                            <!-- VIEW RESULTS -->

                            <td class="text-center align-middle">
                                <button type="submit" class="btn btn-success btn-sm" (click)="onSurveyChoose(i+1)" routerLink="/results">View results</button>
                            </td>

                            <!-- PRIVATE/PUBLIC -->

                            <td class="text-center align-middle">
                                <button type="button" class="btn btn-primary btn-sm" id="btn-public" [disabled]="!checkPrivacy(survey)" (click)="onSurveyBtnPublic(survey)">
                                    Public
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" id="btn-private" [disabled]="checkPrivacy(survey)" (click)="onSurveyBtnPrivate(survey)">
                                    Private
                                </button>
                            </td>

                            <!-- SHARE  -->

                            <td class="text-center align-middle">
                                <button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target="#shareModal" (click)="onShare">Share</button>
                            </td>

                            <!-- DELETE -->

                            <td class="text-center align-middle">
                                <button type="button" class="btn btn-danger btn-sm" (click)="onSurveyDelete(survey)">
                                    Delete
                                </button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- Share Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shareModal">Share Survey</h5>
            </div>
            <div class="modal-body">
                <div class="form-container text-center">
                    <form role="form" #f="ngForm" (ngSubmit)="onShare(f)">

                        <!-- EMAIL -->

                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your email" ngModel required #email="ngModel"
                                [ngClass]="{'is-invalid': error?.email || (email.invalid && (email.dirty || email.touched))}"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                            <div class="invalid-feedback" *ngIf="email.invalid && (email.dirty || email.touched)">Please enter a valid email address</div>
                        </div>

                        <!-- TEXT AREA -->
                        <!-- 
<div class="form-group">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password" ngModel required #password="ngModel"
                                [ngClass]="{'is-invalid': error?.password || (password.invalid && (password.dirty || password.touched))}"
                                minlength="5" maxlength="30">
                            <div class="invalid-feedback" *ngIf="password.invalid && (password.dirty || password.touched)">Please enter a valid password</div>
                        </div>
                    </form>
                </div>
            </div> -->
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                        <button type="button" id="delete-button" class="btn btn-sm" data-dismiss="modal" (click)="onShare(f)">Submit</button>
                    </div>