<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center align-middle">#</th>
                            <th scope="col" class="text-center align-middle">Title</th>
                            <th scope="col" class="text-center align-middle">Creator</th>
                            <th scope="col" class="text-center align-middle">Date created</th>
                            <th scope="col" class="text-center align-middle">Date expires</th>
                            <th scope="col" class="text-center align-middle">Delete survey</th>
                            <th scope="col" class="text-center align-middle">Close survey</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let survey of (surveys$ | async); let i = index'>
                            <th scope="row" class="text-center align-middle">{{ i + 1 }}</th>
                            <td class="text-center align-middle">{{ survey.title }}</td>
                            <td class="text-center align-middle">{{ survey.creator }}</td>
                            <td class="text-center align-middle">{{ survey.creationDate }}</td>
                            <td class="text-center align-middle">{{ survey.expirationDate }}</td>

                            <td class="text-center align-middle">
                                <button type="button" class="btn btn-danger btn-sm" (click)="onSurveyDelete(survey)" data-toggle="modal" data-target="#deleteSurveyModal">
                                    Delete
                                </button>
                            </td>

                            <td class="text-center align-middle">
                                
                                
                                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#closeSurveyModal">
                                    Close
                                </button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteSurveyModal" tabindex="-1" role="dialog" aria-labelledby="deleteSurveyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteSurveyModalLabel">Delete Survey</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete
                    <i>{{selectedSurvey?.title}}</i>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="delete-button" class="btn" data-dismiss="modal" (click)="onSurveyDeleteSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>